<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLASHFOTOGRAFY</title>
    <link href="/stylesheets/style1.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
      <div class="menu logo-nav">
        <a href="/" class="logo">FLASHFOTOGRAFY</a>
        <label class="menu-icon"><span class="fas fa-bars icomin"></span></label>
        <nav class="navigation">
          <ul>
            <li><a href="/login">Administrar</a></li>
            <li><a href="/informacion">informacion</a></li>
            <li><a href="/destacados">Destacados</a></li>
            <li>captura los mejores momentos</li>
          </ul>
        </nav>
      </div>
    </header>

<div class="slider">
  <ul>
    <li><img src="https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2022/05/canon-eos-r7-r10-2710491.jpg?tf=3840x" alt="2" width="300" height="300"></li>
    <li><img src="https://www.cined.com/content/uploads/2022/05/Canon-EOS-R7_R10_featured-1300x750.jpg" alt="2" width="300" height="300"></li>
    <li><img src="https://www.photolari.com/wp-content/uploads/2022/05/canon-r7-y-r10-4.jpg" alt="2" width="300" height="300"></li>
  </ul>
</div>


  <div class="container-index">

    <div class="container-circulos">
      <div class="container-imagen">
        <img src="https://todo-fotografia.com/wp-content/uploads/2020/02/Canon-eos-850d.jpg" class="circulo">
        <h2>Camaras canon</h2>
      </div>
      <div class="container-imagen">
        <img src="https://http2.mlstatic.com/D_NQ_NP_764217-MLV44174852463_112020-O.webp" class="circulo">
        <h2>Camaras semi profesionales</h2>
      </div>
      <div class="container-imagen">
        <img src="https://i.blogs.es/f3b0cf/e-620/650_1200.webp" class="circulo">
        <h2>Camaras profesionales</h2>
      </div>
    </div>

    <div class="contenedor-columna">
      <div class="columna1">
        <h2>SOBRE FLASHFOTOGRAFY </h2>
        <p>Es una plataforma perfecta que combina la mejor calidad, precio y estrategias de ventas en el mercado</p>
      </div>
      <div class="columna2">
        <img src="https://digicentro.com.mx/cdn/shop/products/2744593-1_135986c9-ec38-42a7-98df-287f8f2b3e39_grande@2x.png?v=1602604330" alt="1" width="100" height="220">
      </div>
    </div>

  </div>


  <footer class="footer-section">
    <div class="copyright-area">
        <div class="container-footer">
            <div class="row-footer">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2023, todos los derechos reservados <a href="/view">FLASHFOTOGRAFY</a></p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="/login">Administrar</a></li>
                            <li><a href="/informacion">informacion</a></li>
                            <li><a href="/destacados">Destacados</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </footer>   


    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script  src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script  src="assets/js/scripts.js"></script>
</body>
</html>